.search
  background-color white
  .searchLabel
    min-height: 50px;
    font-family: PingFangSC;
    font-size: 36px;
    text-align: center;
    color: #061027;
    margin-top: 31px;
    word-break: break-all;
  
  .goBackButton
    width: 120px;
    height: 44px;
    margin: 0 auto;
    margin-top: 87px;
    margin-bottom: 40px;
    border-radius: 4px;
    border: solid 2px #2647fd;
    padding-top: 10px;
    line-height: 25px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #2647fd;
    &:hover {
      cursor: pointer;
    }


