.transactionTable
  .transactionHashTd,.transactionFromTd,.transactionToTd
    color #5b8ee6

  .transactionBlockNumberTd,.transactionQuotaUsedTd,.transactionTimestampTd
    color #6f747a

  .transactionHashTd,.transactionFromTd,.transactionToTd,.transactionBlockNumberTd,.transactionQuotaUsedTd,.transactionTimestampTd
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    
  .transactionValueTd
    word-break break-all