.error
  background-color white
  .errorLabel
    height: 50px;
    font-family: PingFangSC;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #061027;
  .errorButton
    height: 44px;
    width: 120px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 4px 4px;
    border: 2px solid #2647fd;
    text-align: center;
    >span
      line-height: 25px;
      color: #2647fd;
      font-family: PingFang-SC;
      font-size: 18px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
