.error
  background-color white
  .errorLabel
    height: 50px;
    font-family: PingFangSC;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #061027;
    margin-top: 31px;
  .errorButton
    height: 44px;
    width: 120px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 4px 4px;
    border: 2px solid #2647fd;
    text-align: center;
    >span
      line-height: 25px;
      color: #2647fd;
      font-family: PingFang-SC;
      font-size: 18px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
  .goBackButton
    width: 120px;
    height: 44px;
    margin: 0 auto;
    margin-top: 87px;
    margin-bottom: 264px;
    border-radius: 4px;
    border: solid 2px #2647fd;
    padding-top: 10px;
    line-height: 25px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #2647fd;
    &:hover {
      cursor: pointer;
    }


