.accountDetail
  .accountNav
    height 92px
    border-radius 5px
    box-shadow 0 4px 16px 0 rgba(86, 129, 204, 0.1)
    background-color white
    padding 35px 61px 68px 35px
  .accountBody
    border-radius 5px
    box-shadow 0 4px 16px 0 rgba(86, 129, 204, 0.1)
    margin-top 23px
    // padding 0 61px 68px 61px
    background-color #ffffff
    .accountBodyRow
      height 47px
      padding-top 27px
    .accountDetailKey
      width 265px
      color #6f747a
      font-size 14px
    .accountDetailValue
      color #47484a
      font-size 14px
  .contractTabInfo
    padding 30px
    textarea
      height 280px
      width 100%
      overflow-y auto
      word-break break-all
      white-space pre-wrap