.api
  background-color white
  .rpcItem
    height 40px
    padding 5px 10px
    line-height 30px
    font-size 14px
    background #fafafa
    border 1px solid #eee
    margin-top 10px
    &:nth-child(1)
      margin-top 0
    &:hover, &.rpcActiveItem
      background-color #fafafa
      background #3498db
