.transactionDetail
  .tabHeaderContainer
    border none !important
  .transactionNav
    color white
    height 120px
    .hash
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
  .transactionBody
    margin-top 120px
    border-radius 5px
    box-shadow 0 4px 16px 0 rgba(86, 129, 204, 0.1)
    padding 0 61px 68px 61px
    background-color #ffffff
    .transactionBodyRow
      height 47px
      padding-top 26px
    .transactionDetailKey
      width (265/(265+813)*100)%
      color #6f747a
      font-size 16px
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
    .transactionDetailValue
      color #47484a
      font-size 16px
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
    textarea
      background-color rgb(235, 235, 228)
      min-height 200px
      max-height 500px
      padding 15px!important

@media (max-width: 850px)
  .transactionDetail
    .transactionBody
      padding 0 21px 28px 21px