.scrollContent {
  -webkit-box-flex: 1;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  position: relative;
}
.scrollContent > div {
  width: 100%;
  overflow-x: hidden;
  position: absolute;
}