.layout {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: transparent;
  box-sizing: border-box;
  position: relative;
  > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
  }
}