.blockDetail
  .blockNav
    height 92px
    border-radius 5px
    box-shadow 0 4px 16px 0 rgba(86, 129, 204, 0.1)
    background-color white
    padding 35px 61px 68px 35px
  .blockBody,.blockNav
    border-radius 5px
    box-shadow 0 4px 16px 0 rgba(86, 129, 204, 0.1)
    margin-top 23px
    padding 0 61px 68px 61px
    background-color #ffffff
    .blockBodyRow
      height 47px
      padding-top 27px
    .blockDetailKey
      width (265/(265+813)*100)%
      min-width 120px
      color #6f747a
      font-size 14px
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
    .blockDetailValue
      color #47484a
      font-size 14px
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
  .blockNav
    .preButton,.nextButton
      border-radius 50% 50%
      width 20px
      height 20px
      background-color #4eadf1
      background-image linear-gradient(to left, #4eadf1, #6a96f0)
      display inline-block
      color white
      text-align center
    .nextButton
      margin-left 15px

@media (max-width: 850px)
  .blockDetail
    .blockNav
      padding 15px 21px 28px 15px
    .blockBody
      padding 0 21px 28px 21px