.blockDetail
  .blockNav
    height 92px
    border-radius 5px
    box-shadow 0 4px 16px 0 rgba(86, 129, 204, 0.1)
    background-color white
    padding 35px 61px 68px 35px
  .blockBody
    border-radius 5px
    box-shadow 0 4px 16px 0 rgba(86, 129, 204, 0.1)
    margin-top 23px
    padding 0 61px 68px 61px
    background-color #ffffff
    .blockBodyRow
      height 47px
      padding-top 27px
    .blockDetailKey
      width (265/(265+813)*100)%
      color #6f747a
      font-size 14px
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
    .blockDetailValue
      color #47484a
      font-size 14px
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
