.footer {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
  background-color: white;
  border-top: 1px solid #ddd;
  background-image: none;
  text-align: center;
  line-height: 40px;
}