html,body,#app,.root
  width 100%
  height 100%
  font-family  PingFangSC-Regular, Arial, Helvetica, sans-serif
#app
  position relative

*, *:after, *:before
  margin 0
  padding 0
  box-sizing border-box


@media (min-width: 1200px)
  .container
    max-width 1200px
    padding-left 0
    padding-right 0
    .row
      padding 0
      margin 0

.vhCenter
  display -webkit-flex
  display -webkit-box
  display flex
  display box
  -webkit-flex-direction row
  flex-direction row
  -webkit-box-align center
  box-align center
  -webkit-box-pack center
  box-pack center
  -webkit-align-items center
  align-items center
  -webkit-justify-content center
  justify-content center

.withRow
  display -ms-flexbox
  -ms-flex-direction row
  display flex
  display -webkit-box
  -webkit-flex-direction row
  -webkit-box-orient horizontal
.withColumn
  display -ms-flexbox
  -ms-flex-direction column
  display flex
  display -webkit-box
  -webkit-flex-direction column
  -webkit-box-orient vertical

.withRowLeftAuto,.withColumnLeftAuto
  -webkit-box-flex 1
  flex 1

.operationItem
  cursor pointer

.rc-pagination 
  li:focus
    outline none!important
  .rc-pagination-item-active
    background -webkit-gradient(linear,right top,left top,from(#4eadf1),to(#6a96f0))
    background linear-gradient(270deg,#4eadf1,#6a96f0)
    border-color transparent!important
  .rc-pagination-item
    &:hover
      border-color #6a96f0!important
    