.header
  width 100%
  height 80px
  padding-top 20px
  background #FFFFFF
  box-shadow 0 5px 4px 0 rgba(170,170,170,0.07)
  position sticky
  top 0
  z-index 888


  .topArrow,.bottomArrow
    width 0px
    height 0px
    display inline-block
    position absolute
  .topArrow
    border-width 6px
    border-style solid
    border-color  transparent transparent black transparent
  .bottomArrow
    border-width 6px
    border-style solid
    border-color  black transparent transparent transparent

  .network .topArrow
    top -3px
  .networkName
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    margin-left 5px
    font-size 16px
    line-height 16px
    height 20px
    color #47484a
    text-align right
  .networkOpen
    width 465px
    min-height 200px
    z-index 8888
    box-shadow 0 2px 6px 1px rgba(188, 193, 199, 0.71)
    background-color #ffffff
    border-radius 5px 5px
    position absolute
    top 50px
    right 0
    padding 30px 20px
    .networkSwitchButton
      margin-left 15px
      font-size 14px
      color white
      width 88px
      height 100%
      border-radius 4px
      background-image linear-gradient(to left, #4eadf1, #6a96f0)
  .menuOpen
    width 100px
    min-height 50px
    box-shadow 0 2px 6px 1px rgba(188, 193, 199, 0.71)
    background-color #ffffff
    border-radius 5px 5px

    position absolute
    top 25px
    right 0
    padding 10px 0

    .subMenuItem
      height 30px
      line-height 30px
      font-size 15px
      text-align left
      padding-left 10px
      padding-right 10px
      margin-top 10px
      &:nth-child(1)
        margin-top 0
      &:hover
        background-color #5b8ee6
    .subMenuItem.active
      color #2647fd
  .menu
    font-family PingFangSC-Regular
    font-size 16px
    color #47484A
    letter-spacing 0
    text-align center
    margin-left 40px
    display inline-block
    vertical-align top
  .menu.active
    color #2647fd
  
@media (max-width: 1200px)
  .header
    overflow hidden
    .drawer
      background-color: transparent;
      position fixed
      z-index: 9999;
      top: 7.5px;
      left: 15px;
      width: 30px;
      height: 30px;
    .drawerMask
      width 100vw
      height 100vh
      background-color rgba(0,0,0,0.7)

    .drawerContent
      position fixed
      width 60%
      max-width 300px
      height 100vh
      background-color white
      .nav
        height 120px !important
        >*
          display block
          width 100%
          height 40px
          margin 10px
    .networkOpen
      width 300px


  